.card {
  width: 25rem;
  height: 30rem;
}
.box {
  -webkit-box-shadow: 12px 14px 18px 0px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 12px 14px 18px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 12px 14px 18px 0px rgba(0, 0, 0, 0.69);
}
