$primaryOne-colorV01: #262c43;
$primaryTwo-colorV01: #394263;

$secundaryOne-colorV01: #58ae95;
$secundaryTwo-colorV01: #acd6ca;

// $secundaryOne-colorV01: #90b900;
// $secundaryTwo-colorV01: #b7cf4c;

$terciaryOne-colorV01: #19819e;
$terciaryTwo-colorV01: #bace55;

$gris-fuerte: #9e9e9e;
$gris-claro: #dadada;
