<div class="row">
  <div class="row">
    <div class="col-2 pt-2">
      <h2>Grupo</h2>
    </div>
    <div class="col-9">
      <button (click)="nuevaSolicitud()">Nueva Solicitud</button>
    </div>
    <div class="col-1 pt-3 text-center">
      <button
        type="button"
        class="btn btn-close"
        aria-label="Close"
        routerLink="/listado"
      ></button>
    </div>
  </div>

  <div class="row bg-light gx-0">
    <div class="col-2 col-md-2 col-One">
      <!-- <div class="row">
        <div class="col">
          <h6>Grupo</h6>
        </div>
      </div> -->
      <br />
      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['dominio', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Dominio</strong></small>
        </li>
        <!-- <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['permisos', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Permisos</strong></small>
        </li> -->
        <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['gruposSoporte', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Grupos de soporte</strong></small>
        </li>
        <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['cuestionarioUsuarios', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Cuestionario para usuarios</strong></small>
        </li>
        <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['cuestionarioActivos', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Cuentionario para activos</strong></small>
        </li>
        <!-- <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['cuestionarioOrdenes', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Cuestionario para ordenes</strong></small>
        </li> -->
        <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['cuestionarioProveedores', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Cuestionario para proveedores</strong></small>
        </li>
        <!-- <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['calendarioLiberaciones', idGrupo]"
          routerLinkActive="active"
          >
          <small><strong>Calendario liberaciones</strong></small>
        </li> -->
        <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['configuracion', idGrupo]"
          routerLinkActive="active"
        >
          <small><strong>Configuración</strong></small>
        </li>
        <!-- <li
          class="list-group-item list-group-item-action"
          aria-current="page"
          [routerLink]="['configuracionReporte', idGrupo]"
          routerLinkActive="active"
          >
          <small><strong>Configuración reporte</strong></small>
        </li> -->
      </ul>
    </div>

    <div class="col-10 col-md-10 pe-3 ps-3 pb-3 col-Two">
      <br />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------------------- -->
