<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      
        <app-new-solicitud></app-new-solicitud>

        <app-main-title icon="" title ="Ayuda"></app-main-title>


        <router-outlet></router-outlet>

        <div class="row border-top 1px">
          <div class="col-md-12 text-center">
               Seccion Ayuda
          </div>
        </div>
          
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  </div>
  <!-- /.content-wrapper -->


