
.titleMain{
    color: #1882A0;
    font-family: Myriad Pro Liht;
    font-weight: 500;
    
}


.fieldTitle{
    color: #282D46;
    font-family: Myriad;
    font-weight: 100;   
}

.important{
    color:#dc3545;
}

.separator{
     border-width: 2px 0px 0px 0px; border-style: dotted;
}

.buttonCancelar{
    background-color: #DADADA; color: black; border-color: #DADADA ;
}

.buttonSiguiente{
    background-color:#34B298; margin-left: 10px;
}

