.form-check-input:checked {
    background-color: #34B298;
    border: #34B298;
}

.messageInformative{
    font-family: "Myriad";
    font-size:13px; 
    color: #959595;
}

.titleMain{
    color: #57AE94;
}

.important{
    color:#dc3545;
}


