<div class="row">
  <div class="col-md-6">
                  <h5 class="mt-2">Nuevo Servicio</h5>
   </div>
</div>
<div class="row">



  <div class="col-md-2">
       <p-panelMenu [model]="items"></p-panelMenu>
  </div> 

  <div class="col-md-10">

      <div *ngIf="optionMenu == 1">
              <app-datos-generales  [newService] ="newService" (onAddService)="addService($event)"> </app-datos-generales>     
      </div>

      <div *ngIf="optionMenu == 2">
               <app-slas [newService]="newService" (onAddService)="addService($event)"></app-slas>     
      </div>

      <div *ngIf="optionMenu == 3">
              <app-proveedor  [newService] ="newService" (onAddService)="addService($event)"> </app-proveedor>     
      </div>

      <div *ngIf="optionMenu == 4">
            <app-usuarios   [newService] ="newService" (onAddService)="addService($event)"> </app-usuarios>     
      </div>

      <div *ngIf="optionMenu == 5">
            <app-categorias  [newService] ="newService" (onAddService)="addService($event)" type="newService" (onTemporaryService)="temporaryService($event)"></app-categorias>
      </div>
         
      <div *ngIf="optionMenu == 6">
               <app-contacto  [newService] ="newService" (onAddService)="addService($event)" (onTemporaryService)="temporaryService($event)" type="newService"></app-contacto>     
      </div>
  </div>

</div>