.paginador {
    padding-top: 10px;
}

p-avatar {
    text-align: center;
}

.button-container {
    display: flex;
    width: fit-content;
}

.button-box {
    width: 1fr;
    justify-content: space-around;
    align-items: flex-end;
}