<div class="row">
  <!-- <div class="row">
    <div class="col">
      -- Button trigger modal --
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalNuevaPregunta"
      >
        Nueva pregunta
      </button>
    </div>
  </div>
  <br />
  <br />
  <div class="row" *ngIf="movies.length > 0">
    <div class="col">
    -->
  <app-tabla-cuestionario [dataPreguntas]="movies"></app-tabla-cuestionario>
  <!-- <table class="table table-striped table-hover">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Requerida</th>
            <th scope="col">Pregunta</th>
            <th scope="col">Respuesta</th>
            <th scope="col">Habilitado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody
        class="example-list"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        >
        <tr
        class="text-center example-box"
        *ngFor="let movie of movies; index as i"
        cdkDrag
        >
        <td>{{ i + 1 }}</td>
        <td><mat-icon>verified</mat-icon></td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.title }}</td>
        <td>
          <mat-icon>visibility_off</mat-icon>
          <mat-icon>visibility_on</mat-icon>
        </td>
        <td>
          <mat-icon>delete</mat-icon>
          <mat-icon>edit</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div> -->
</div>
